.button {
    width: 200px;
    margin: 0 auto;
    padding: 20px;

    color: #54bb04;
    font-size: 18px;
    font-family: inherit;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;

    background-color: #282c34;
}